force-app/main/default/flows/Guided_Service_Provisioning.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>

    <decisions>
        <name>Order_Found_Check</name>
        <label>Order Found?</label>
        <locationX>176</locationX>
        <locationY>370</locationY>
        <defaultConnector>
            <targetReference>Not_Found_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Order_Was_Found</name>
            <label>Order Was Found</label>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Service_Order.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Site_Confirmation_Screen</targetReference>
            </connector>
        </rules>
    </decisions>
    <decisions>
        <name>Site_Confirmed_Check</name>
        <label>Site Confirmed?</label>
        <locationX>300</locationX>
        <locationY>610</locationY>
        <defaultConnector>
            <targetReference>Cannot_Proceed_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Confirmed</defaultConnectorLabel>
        <rules>
            <name>Site_Is_Confirmed</name>
            <label>Site Is Confirmed</label>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SiteConfirmedField</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Provisioning_Details_Screen</targetReference>
            </connector>
        </rules>
    </decisions>

    <description
  >Screen flow that walks a provisioning agent through confirming a site survey is complete and scheduling activation before moving a Service Order into the Provisioning stage.</description>

    <interviewLabel
  >Guided Service Provisioning {!$Flow.CurrentDateTime}</interviewLabel>

    <label>Guided Service Provisioning</label>

    <processType>Flow</processType>

    <recordLookups>
        <name>Get_Service_Order</name>
        <label>Get Service Order</label>
        <locationX>176</locationX>
        <locationY>250</locationY>
        <connector>
            <targetReference>Order_Found_Check</targetReference>
        </connector>
        <object>Service_Order__c</object>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderNumberInputField</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>

    <recordUpdates>
        <name>Update_Order_To_Provisioning</name>
        <label>Update Order To Provisioning</label>
        <locationX>450</locationX>
        <locationY>850</locationY>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Provisioning</stringValue>
            </value>
        </inputAssignments>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Service_Order.Id</elementReference>
            </value>
        </filters>
        <object>Service_Order__c</object>
    </recordUpdates>

    <screens>
        <name>Find_Order_Screen</name>
        <label>Find Order</label>
        <locationX>176</locationX>
        <locationY>130</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
        <connector>
            <targetReference>Get_Service_Order</targetReference>
        </connector>
        <fields>
            <name>OrderNumberInputField</name>
            <fieldText>Service Order Number</fieldText>
            <fieldType>InputField</fieldType>
            <dataType>String</dataType>
            <isRequired>true</isRequired>
            <helpText
      >Enter the order number exactly as it appears on the record, e.g. SO-00001.</helpText>
        </fields>
    </screens>
    <screens>
        <name>Not_Found_Screen</name>
        <label>Order Not Found</label>
        <locationX>50</locationX>
        <locationY>490</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
        <fields>
            <name>Not_Found_Message</name>
            <fieldText
      >&lt;p&gt;No Service Order matches that number. Check the number and try again.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Site_Confirmation_Screen</name>
        <label>Confirm Site Readiness</label>
        <locationX>300</locationX>
        <locationY>490</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
        <connector>
            <targetReference>Site_Confirmed_Check</targetReference>
        </connector>
        <fields>
            <name>Order_Summary_Text</name>
            <fieldText
      >&lt;p&gt;Order {!Get_Service_Order.Name}, currently in stage {!Get_Service_Order.Stage__c}.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SiteConfirmedField</name>
            <fieldText
      >The site survey has been completed for this order</fieldText>
            <fieldType>InputField</fieldType>
            <dataType>Boolean</dataType>
        </fields>
    </screens>
    <screens>
        <name>Cannot_Proceed_Screen</name>
        <label>Cannot Proceed</label>
        <locationX>150</locationX>
        <locationY>730</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
        <fields>
            <name>Cannot_Proceed_Message</name>
            <fieldText
      >&lt;p&gt;Complete the site survey before continuing with provisioning.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Provisioning_Details_Screen</name>
        <label>Provisioning Details</label>
        <locationX>450</locationX>
        <locationY>730</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
        <connector>
            <targetReference>Update_Order_To_Provisioning</targetReference>
        </connector>
        <fields>
            <name>ScheduledActivationDateField</name>
            <fieldText>Scheduled Activation Date</fieldText>
            <fieldType>InputField</fieldType>
            <dataType>Date</dataType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ProvisioningNotesField</name>
            <fieldText>Provisioning Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation</label>
        <locationX>450</locationX>
        <locationY>970</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
        <fields>
            <name>Confirmation_Message</name>
            <fieldText
      >&lt;p&gt;Order {!Get_Service_Order.Name} has been moved to Provisioning.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>

    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Find_Order_Screen</targetReference>
        </connector>
    </start>

    <status>Active</status>

    <variables>
        <name>OrderNumberInput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SiteConfirmed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ScheduledActivationDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProvisioningNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
