force-app/main/default/flows/Meridian_Get_Service_Order_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>

    <assignments>
        <name>Init_Loop_Vars</name>
        <label>Init Loop Vars</label>
        <locationX>176</locationX>
        <locationY>370</locationY>
        <assignmentItems>
            <assignToReference>TaskCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>blockingTaskSummary</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue />
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Blocking_Tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Accumulate_Task</name>
        <label>Accumulate Task</label>
        <locationX>176</locationX>
        <locationY>610</locationY>
        <assignmentItems>
            <assignToReference>TaskCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>blockingTaskSummary</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TaskLineFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Blocking_Tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Blocking_True</name>
        <label>Set Blocking True</label>
        <locationX>50</locationX>
        <locationY>850</locationY>
        <assignmentItems>
            <assignToReference>found</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>stage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order.Stage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>hasBlockingTasks</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_No_Blocking</name>
        <label>Set No Blocking</label>
        <locationX>300</locationX>
        <locationY>850</locationY>
        <assignmentItems>
            <assignToReference>found</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>stage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order.Stage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>hasBlockingTasks</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>blockingTaskSummary</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue
        >No blocking tasks found. This order is on track.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Not_Found</name>
        <label>Set Not Found</label>
        <locationX>450</locationX>
        <locationY>130</locationY>
        <assignmentItems>
            <assignToReference>found</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>stage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue />
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>hasBlockingTasks</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>blockingTaskSummary</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NotFoundMessageFormula</elementReference>
            </value>
        </assignmentItems>
    </assignments>

    <decisions>
        <name>Order_Found_Check</name>
        <label>Order Found?</label>
        <locationX>176</locationX>
        <locationY>130</locationY>
        <defaultConnector>
            <targetReference>Get_Blocking_Tasks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Found</defaultConnectorLabel>
        <rules>
            <name>Order_Not_Found</name>
            <label>Order Not Found</label>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Not_Found</targetReference>
            </connector>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Any_Blocking</name>
        <label>Has Any Blocking?</label>
        <locationX>176</locationX>
        <locationY>730</locationY>
        <defaultConnector>
            <targetReference>Set_No_Blocking</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>None Found</defaultConnectorLabel>
        <rules>
            <name>Blocking_Found</name>
            <label>Blocking Found</label>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TaskCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Blocking_True</targetReference>
            </connector>
        </rules>
    </decisions>

    <description
  >Autolaunched flow, invoked as an Agentforce Action. Given a Service Order Number, returns its stage and whether any Provisioning Task is blocking it (Status = Blocked, or overdue and not Complete). Read-only — never modifies any record. Built for the Meridian Service Assistant agent.</description>

    <formulas>
        <name>TodayFormula</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>TaskLineFormula</name>
        <dataType>String</dataType>
        <expression
    >{!blockingTaskSummary} &amp; {!CurrentTask.Name} &amp; &quot; (&quot; &amp; TEXT({!CurrentTask.Task_Type__c}) &amp; &quot;, status &quot; &amp; TEXT({!CurrentTask.Status__c}) &amp; &quot;, due &quot; &amp; TEXT({!CurrentTask.Due_Date__c}) &amp; &quot;); &quot;</expression>
    </formulas>
    <formulas>
        <name>NotFoundMessageFormula</name>
        <dataType>String</dataType>
        <expression
    >&quot;No service order found with number &quot; &amp; {!orderNumber} &amp; &quot;.&quot;</expression>
    </formulas>

    <interviewLabel
  >Meridian Get Service Order Status {!$Flow.CurrentDateTime}</interviewLabel>

    <label>Meridian Get Service Order Status</label>

    <loops>
        <name>Loop_Blocking_Tasks</name>
        <label>Loop Blocking Tasks</label>
        <locationX>176</locationX>
        <locationY>490</locationY>
        <collectionReference>Get_Blocking_Tasks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <assignNextValueToReference>CurrentTask</assignNextValueToReference>
        <nextValueConnector>
            <targetReference>Accumulate_Task</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Has_Any_Blocking</targetReference>
        </noMoreValuesConnector>
    </loops>

    <processType>AutoLaunchedFlow</processType>

    <recordLookups>
        <name>Get_Order</name>
        <label>Get Order</label>
        <locationX>176</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Order_Found_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>orderNumber</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Service_Order__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Blocking_Tasks</name>
        <label>Get Blocking Tasks</label>
        <locationX>176</locationX>
        <locationY>250</locationY>
        <connector>
            <targetReference>Init_Loop_Vars</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4)</filterLogic>
        <filters>
            <field>Service_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Order.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Blocked</stringValue>
            </value>
        </filters>
        <filters>
            <field>Due_Date__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>TodayFormula</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Provisioning_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>

    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Order</targetReference>
        </connector>
    </start>

    <status>Active</status>

    <variables>
        <name>orderNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>found</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>stage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>hasBlockingTasks</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>blockingTaskSummary</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TaskCount</name>
        <dataType>Number</dataType>
        <scale>0</scale>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurrentTask</name>
        <dataType>SObject</dataType>
        <objectType>Provisioning_Task__c</objectType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
