force-app/main/default/flows/Meridian_Escalate_Service_Order.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>

    <assignments>
        <name>Set_Not_Found</name>
        <label>Set Not Found</label>
        <locationX>450</locationX>
        <locationY>130</locationY>
        <assignmentItems>
            <assignToReference>success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue />
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>escalationNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue />
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>resultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NotFoundMessageFormula</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Success</name>
        <label>Set Success</label>
        <locationX>176</locationX>
        <locationY>610</locationY>
        <assignmentItems>
            <assignToReference>success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewCaseId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>escalationNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewEscalationId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>resultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ResultMessageFormula</elementReference>
            </value>
        </assignmentItems>
    </assignments>

    <decisions>
        <name>Order_Found_Check</name>
        <label>Order Found?</label>
        <locationX>176</locationX>
        <locationY>130</locationY>
        <defaultConnector>
            <targetReference>Get_RecordType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Found</defaultConnectorLabel>
        <rules>
            <name>Order_Not_Found</name>
            <label>Order Not Found</label>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Not_Found</targetReference>
            </connector>
        </rules>
    </decisions>

    <description
  >Autolaunched flow, invoked as an Agentforce Action. Given a Service Order Number and a reason, creates a Case (Provisioning Request record type, Status = Escalated) and a linked Escalation Log entry, then hands off to the Provisioning team. Never resolves the block itself — always creates a real, trackable escalation record. Built for the Meridian Service Assistant agent.</description>

    <formulas>
        <name>NotFoundMessageFormula</name>
        <dataType>String</dataType>
        <expression
    >&quot;No service order found with number &quot; &amp; {!orderNumber} &amp; &quot;.&quot;</expression>
    </formulas>
    <formulas>
        <name>SubjectFormula</name>
        <dataType>String</dataType>
        <expression
    >&quot;Escalation for Service Order &quot; &amp; {!Get_Order.Name}</expression>
    </formulas>
    <formulas>
        <name>ResultMessageFormula</name>
        <dataType>String</dataType>
        <expression
    >&quot;This order has been escalated to the Provisioning team. A case and an escalation log entry were created for tracking, and someone will follow up on order &quot; &amp; {!Get_Order.Name} &amp; &quot;.&quot;</expression>
    </formulas>

    <interviewLabel
  >Meridian Escalate Service Order {!$Flow.CurrentDateTime}</interviewLabel>

    <label>Meridian Escalate Service Order</label>

    <processType>AutoLaunchedFlow</processType>

    <recordCreates>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>176</locationX>
        <locationY>370</locationY>
        <connector>
            <targetReference>Create_Escalation_Log</targetReference>
        </connector>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_RecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Escalated</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Order.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SubjectFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>reason</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <assignRecordIdToReference>NewCaseId</assignRecordIdToReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Escalation_Log</name>
        <label>Create Escalation Log</label>
        <locationX>176</locationX>
        <locationY>490</locationY>
        <connector>
            <targetReference>Set_Success</targetReference>
        </connector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>NewCaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Escalated_From__c</field>
            <value>
                <stringValue
        >Meridian Service Assistant (Agentforce)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Escalated_To__c</field>
            <value>
                <stringValue>Provisioning Team</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Escalation_Reason__c</field>
            <value>
                <elementReference>reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Escalated_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Escalation_Log__c</object>
        <assignRecordIdToReference>NewEscalationId</assignRecordIdToReference>
    </recordCreates>

    <recordLookups>
        <name>Get_Order</name>
        <label>Get Order</label>
        <locationX>176</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Order_Found_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>orderNumber</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Service_Order__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RecordType</name>
        <label>Get Provisioning Request Record Type</label>
        <locationX>176</locationX>
        <locationY>250</locationY>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Provisioning_Request</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>

    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Order</targetReference>
        </connector>
    </start>

    <status>Active</status>

    <variables>
        <name>orderNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>reason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>success</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>caseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>escalationNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>resultMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NewCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewEscalationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
